body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 1em;
	background-color: #999;
	background: url(img/bricks.svg),
	radial-gradient(ellipse at center, #999 0%, #000 80%);
}
#depot {
	display: none;
}
#msg {
	position: absolute;
	top: 0;
	text-align: center;
	z-index: -1;
	transition: 1s top;
}
#title {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vw;
	width: 100vw;
	text-align: center;
	z-index: 9;
}
#msg p,
#title p {
	xposition: absolute;
	width: 100vw;
}
p canvas {
	display: inline;
	margin: 0 0.2em 0.4em 0;
}
#mode {
	position: absolute;
	top: 0;
	right: 0;
	color: white;
}
.ai #fx {
	filter: sepia(.5);
}


/************/
/* TOOL BOX */
/************/
#tools {
	position: absolute;
	top: 5px;
	left: 5px;
	display: flex;
	list-style: none;
	padding-left: 0;
}
#tools > * {
	display: block;
	border: 1px solid #333;
	background: radial-gradient(ellipse at center, #888 0%, #666 100%);
	min-width: 40px;
	height: 40px;
	padding: 0 2px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
}
#tools > *:hover,
.spesh #spesh {
	color: #ff0;
	filter: brightness(1.2);
}
#tools i {
	transform: none;
}
#tools i.mine s { margin-top: 8px; }
#tools i.qoblin s { margin-top: 4px; }
.disabled {
	filter: grayscale();
	cursor: not-allowed;
}
#tools data {
	position: absolute;
	bottom: 0;
	right: 0;
}
#info {
	position: absolute;
	top: 60px;
	left: 10px;
	color: #fff;
	line-height: 1.4em;
	xborder: 1px dotted fuchsia;
}
#info i {
	transform: scale(8);
    transform-origin: top left;
}
#info u {
	text-decoration: none;
	font-weight: bold;
}
#info u:first-child {
	font-size: 2em;
}


/*************/
/* GAME AREA */
/*************/
#ga {
	display: grid;
	background-color: gray;
	background-image: url(img/bubbles.svg);
	background-size: 7%;
	grid-template-columns: repeat(11, 50px);
	grid-template-rows: repeat(11, 50px);
	grid-gap: 0;
	position: relative;
	transform: rotateX(60deg) rotateZ(45deg);
}
#ga::before {
	content: '';
	display: block;
	width: 30px;
	height: 100%;
	position: absolute;
	bottom: -30px;
	right: -30px;
	background: #543;
	transform: translateY(-15px) skewY(45deg);
}
#ga::after {
	content: '';
	display: block;
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: -30px;
	left: 0;
	background: #876;
	transform: translateX(15px) skewX(45deg);
}
#animLayer {
	width:100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	pointer-events: none;
}
#animLayer > * {
	position: absolute;
}
#ga > div {
	background: olivedrab;
	border: 1px solid #222;
	display: flex;
	align-items: center;
	justify-content: center;
}
#ga > div:hover {
	background: rgba(255,255,240,0.6);
}
.valid {
	filter: brightness(1.33);
}
#ga > div.team0spawn { border-color: #444; background: rgba(195,175,0,.5); }
#ga > div.team1spawn { border-color: #444; background: rgba(175,95,175,.3); }
i,b {
	display: block;
	width: 32px;
	height: 32px;
	font-style: normal;
	transform-origin: center bottom;
	transform: rotateZ(-45deg) rotateY(60deg) translateX(50%) translateY(25%) scale(4);
}
b, #flag0, #flag1 {
	transform: rotateZ(-45deg) rotateY(60deg) scale(5) translateX(13px) translateY(11px);
	filter: hue-rotate(30deg);
	pointer-events: none;
}
#flag1 {
	filter: hue-rotate(210deg);
}
i > s {
	display: block;
	width: 32px;
	height: 32px;
	image-rendering: pixelated;
	pointer-events: none;	/* all clicks handled by parent */
}
i.team0:hover {
	filter: brightness(1.25)
			drop-shadow(1px 1px 0 #9f0)
			drop-shadow(-1px 1px 0 #9f0)
			drop-shadow(1px -1px 0 #9f0)
			drop-shadow(-1px -1px 0 #9f0);
}
i.team1:hover {
	filter: brightness(1.25)
			drop-shadow(1px 1px 0 #f09)
			drop-shadow(-1px 1px 0 #f09)
			drop-shadow(1px -1px 0 #f09)
			drop-shadow(-1px -1px 0 #f09);
}
.spesh i.team0:hover,
i.special {
	filter: brightness(1.25)
			drop-shadow(1px 1px 0 #fff)
			drop-shadow(-1px 1px 0 #fff)
			drop-shadow(1px -1px 0 #fff)
			drop-shadow(-1px -1px 0 #fff);
}
.team1 s {
	filter: hue-rotate(180deg);
}

.mine s {
	background: url(img/mush.gif) no-repeat;
	width: 16px;
	height: 16px;
	margin: 16px 8px 0;
}
.qoblin s {
	background: url(img/goblins.gif) no-repeat;
	width: 18px;
	height: 24px;
	margin: 4px 7px;
}
.fireskull s {
	background: url(img/hotheads.gif) no-repeat;
	width: 18px;
	height: 32px;
	margin: 0 7px;
	xanimation: vertbob 1.5s infinite;
}
.priest s {
	background: url(img/priests.gif) no-repeat;
	width: 24px;
	height: 32px;
	margin: 0 4px;
}
.golem s {
	background: url(img/golems.gif) no-repeat;
	width: 26px;
	height: 32px;
	margin: 0 3px;
}
.necro s {
	background: url(img/necros.gif) no-repeat;
	width: 32px;
	height: 32px;
}
.iceman s {
	background: url(img/icemen.gif) no-repeat;
	width: 34px;
	height: 34px;
}

.ss s { background-position: 0 0; }		/* default */
.sw s {}
.ww s {
	background-position: 0 100%;
	transform: scaleX(-1);
}
.nw s {}
.nn s { background-position: 0 50%; }
.ne s {}
.ee s { background-position: 0 100%; }
.se s {}

.shield s:after {
	content: "🛡️";
	position: absolute;
	font-size: 18px;
	left: 3px;
}

@keyframes vertbob {
	50% { padding-bottom: 3px; }
}
.jiggle { animation: jiggle 0.33s 3 alternate; }
@keyframes jiggle {
	17% { transform: translate(0px,4px); }
	33% { transform: translate(-3px,4px); filter: invert(); }
	50% { transform: translate(3px,-4px); }
	67% { transform: translate(-3px,-4px); filter: invert(); }
	83% { transform: translate(3px,4px); }
}
.flash s { animation: 0.35s 3 flash; }
@keyframes flash {
	50% { opacity: 0.2; }
}
.explode s { animation: 1s 1 explode; }
@keyframes explode {
	0%   { filter: blur(0px); }
	100% { filter: blur(20px); }
}
.jump s { animation: 1.2s 1 jump; transform-origin: bottom; }
@keyframes jump {
	0%,  99% { transform: translateY(0) scaleY(1); }
	15%, 90% { transform: translateY(0) scaleY(0.8); }
	25%, 80% { transform: translateY(-6px) scaleY(1); }
	40%, 60% { transform: translateY(-9px); }
	50%		 { transform: translateY(-11px); }
}
.grow s { animation: 0.8s 1 grow; }
@keyframes grow {
	100% 	 { transform: scale(2); }
}
.invert s { animation: 0.5s 2 invert; }
@keyframes invert {
	50% 	 { filter: invert() }
}
.ring {
	position: absolute;
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	border: 5px dotted;
	border-color: #03f #36f #69f #9cf;
	opacity: 0.8;
	transform-origin: center;
	transform: scale(1) rotate(0deg);
	filter: blur(0);
}
.expanding { animation: 1s 1 grow3x; }
@keyframes grow3x {
	100% 	 { transform: scale(6) rotate(720deg); filter: blur(3px); }
}
.spell {
	filter: invert();
}

.move { cursor: move; }
.place-mine,
.place-qoblin,
.place-fireskull,
.place-priest,
.place-golem,
.place-necro,
.place-iceman { cursor: copy; }
.spesh i.team0 { cursor: all-scroll; }
.team1 {
	pointer-events: none;
	cursor: not-allowed;
}

#credit {
	position: absolute;
	bottom: 0;
	right: 0;
}
#credit,
#credit a {
	color: #ccc;
}


/*******************/
/* HEALTH OVERLAYS */
/*******************/
i figure {
	position: absolute;
	top: -35px;
	left: -50px;
	width: 40px;	/* needs to contain all text values without wrapping */
	height: 17px;
	text-align: center;
	font-size: 8px;
	font-family: Arial;
	white-space: nowrap;
	color: white;
	text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}
i figure:before {	/* health bar container */
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4px;
	border: 1px solid white;
	background: black;
}
i figure:after { /* health bar contents */
	content: '';
	position: absolute;
	left: 2px;
	bottom: 2px;
	height: 2px;
}
i figure.p25:after { width: 25%; background: orange; }
i figure.p50:after { width: 50%; background: yellow; }
i figure.p75:after { width: 75%; background: lawngreen; }
i figure.p100:after { width: 95%; background: green; }
i.team1 figure:after {
	filter: hue-rotate(180deg);
}
