body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 1em;
	background-color: #999;
	background: url(img/bricks.svg),
	radial-gradient(ellipse at center, #999 0%, #000 80%);
}
body > p {
	position: absolute;
	bottom: 20px;
}
body > p > canvas {
	display: inline;
	margin: 0 0.2em 0.4em 0;
}
#depot {
	display: none;
}


/************/
/* TOOL BOX */
/************/
#tools {
	position: absolute;
	top: 5px;
	left: 5px;
	display: flex;
	list-style: none;
	padding-left: 0;
}
#tools > a {
	display: block;
}
#tools li,
#tools > a {
	border: 1px solid #333;
	background: radial-gradient(ellipse at center, #888 0%, #666 100%);
	min-width: 40px;
	height: 40px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
}
#tools i {
	transform: none;
}
.disabled {
	filter: grayscale();
	pointer-events: none;
}
#tools data {
	position: absolute;
	bottom: 0;
	right: 0;
}
#info {
	position: absolute;
	top: 50px;
	left: 5px;
	color: #fff;
	xborder: 1px dotted fuchsia;
}
#info i {
	transform: scale(8);
    transform-origin: top left;
}
#info u {
	text-decoration: none;
	font-weight: bold;
}
#info u:first-child {
	font-size: 2em;
}
#rot:hover,
#mov:hover,
#arm:hover,
#end:hover,
.rotate #rot,
.move #mov,
.arm #arm {
	color: #ff0;
	filter: brightness(1.2);
}


/*************/
/* GAME AREA */
/*************/
#ga {
	display: grid;
	background-color: gray;
	background-image: url(img/bubbles.svg);
	background-size: 7%;
	grid-template-columns: repeat(11, 50px);
	grid-template-rows: repeat(11, 50px);
	grid-gap: 0;
	position: relative;
	transform: rotateX(60deg) rotateZ(45deg);
}
#ga::before {
	content: '';
	display: block;
	width: 30px;
	height: 100%;
	position: absolute;
	bottom: -30px;
	right: -30px;
	background: #543;
	transform: translateY(-15px) skewY(45deg);
}
#ga::after {
	content: '';
	display: block;
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: -30px;
	left: 0;
	background: #876;
	transform: translateX(15px) skewX(45deg);
}
#animLayer {
	width:100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	pointer-events: none;
}
#animLayer > * {
	position: absolute;
}
#ga > div {
	background: olivedrab;
	border: 1px solid #222;
	display: flex;
	align-items: center;
	justify-content: center;
}
#ga > div:hover {
	background: rgba(255,255,240,0.6);
}
.valid {
	filter: brightness(1.33);
}
#ga > div.team0spawn { border-color: #444; background: rgba(195,175,0,.5); }
#ga > div.team1spawn { border-color: #444; background: rgba(175,95,175,.3); }
i,b {
	display: block;
	width: 32px;
	height: 32px;
	font-style: normal;
	transform-origin: center bottom;
	transform: rotateZ(-45deg) rotateY(60deg) translateX(50%) translateY(25%) scale(4);
	image-rendering: pixelated;
	filter: hue-rotate(0);
}
b {
	transform: rotateZ(-45deg) rotateY(60deg) scale(5) translateX(13px) translateY(11px);
	filter: hue-rotate(30deg);
	pointer-events: none;
}
i:hover,
div:hover > i {
	filter: brightness(1.25)
			drop-shadow(1px 1px 0 #ff0)
			drop-shadow(-1px -1px 0 #ff0);
}
i.team1:hover,
div:hover > i.team1 {
	filter: brightness(1.25)
			drop-shadow(1px 1px 0 #ff0)
			drop-shadow(-1px -1px 0 #ff0)
			hue-rotate(180deg);
}
.team1 {
	filter: hue-rotate(180deg);
}

.mine {
	background: url(img/mush.gif) no-repeat;
	width: 16px;
	height: 16px;
}
.qoblin {
	background: url(img/goblins.gif) no-repeat;
	width: 18px;
	height: 24px;
}
.fireskull {
	background: url(img/hotheads.gif) no-repeat;
	width: 18px;
	height: 32px;
	xanimation: vertbob 1.5s infinite;
}
.priest {
	background: url(img/priests.gif) no-repeat;
	width: 24px;
	height: 32px;
}
.golem {
	background: url(img/golems.gif) no-repeat;
	width: 26px;
	height: 32px;
}
.necro {
	background: url(img/necros.gif) no-repeat;
	width: 32px;
	height: 32px;
}
.iceman {
	background: url(img/icemen.gif) no-repeat;
	width: 34px;
	height: 34px;
}
.ss { background-position: 0 0; }		/* default */
.sw {}
.ww {
	background-position: 0 100%;
	transform: rotateZ(-45deg) rotateY(60deg) translateX(50%) translateY(25%) scaleX(-4) scaleY(4);
}
.nw {}
.nn { background-position: 0 50%; }
.ne {}
.ee { background-position: 0 100%; }
.se {}

@keyframes vertbob {
	50% { padding-bottom: 3px; }
}
.jiggle { animation: jiggle 0.5s 3 alternate; }
@keyframes jiggle {
	0% { transform: translate(4px,3px); }
	17% { transform: translate(1px,4px); }
	33% { transform: translate(3px,2px); }
	50% { transform: translate(2px,5px); }
	67% { transform: translate(4px,1px); }
	83% { transform: translate(1px,3px); }
}
.flash { animation: 0.6s 3 flash; }
@keyframes flash {
	50% { opacity: 0.2; }
}
.explode { animation: 1s 1 explode; }
@keyframes explode {
	0%   { filter: blur(0px); }
	100% { filter: blur(20px); }
}

.move { cursor: move; }
.place-mine,
.place-qoblin,
.place-fireskull,
.place-priest,
.place-golem,
.place-necro,
.place-iceman { cursor: copy; }
.ai * {
	pointer-events: none;
	cursor: not-allowed;
}
#credit {
	position: absolute;
	bottom: 0;
	right: 0;
}
#credit,
#credit a {
	color: #ccc;
}

i figure {
	position: absolute;
	top: -35px;
	left: -50px;
	width: 40px;	/* needs to contain all text values without wrapping */
	height: 17px;
	text-align: center;
	font-size: 8px;
	font-family: Arial;
	white-space: nowrap;
	color: white;
	text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}
i figure:before {	/* health bar container */
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4px;
	border: 1px solid white;
	background: black;
}
i figure:after { /* health bar contents */
	content: '';
	position: absolute;
	left: 2px;
	bottom: 2px;
	height: 2px;
}
i figure.p25:after { width: 25%; background: orange; }
i figure.p50:after { width: 50%; background: yellow; }
i figure.p75:after { width: 75%; background: lawngreen; }
i figure.p100:after { width: 95%; background: green; }
i.team1 figure:after {
	filter: hue-rotate(180deg);
}
